In [13]:
import sys
sys.path.append('../')

In [1]:
i = 0
polarity ="NEG"

In [17]:
from transformers import pipeline 
import pandas as pd
import os
ROOT_DIR = '../'
RES_DIR = os.path.join(ROOT_DIR, "resources")
MOD_DIR = os.path.join(ROOT_DIR, "ml_models")
TRAIN_DIR = os.path.join(ROOT_DIR, "train_sets")
REP_DIR = os.path.join(ROOT_DIR, "reports", "BERTicTEst")

In [25]:
model_name = f"Tanor/BERTovoSENT{polarity}{i}"

In [20]:
# Construct file name
name = f"UP{polarity}{i}.csv"

# Load the test data
X_test = pd.read_csv(os.path.join(TRAIN_DIR, f"X_test_{name}"))["Sysnet"]
y_test = pd.read_csv(os.path.join(TRAIN_DIR, f"y_test_{name}"))[polarity]

In [27]:
# Load model using pipeline
pipe = pipeline("text-classification", model=model_name)

# Define label to id mapping
label2id = {"NON-POSITIVE": 0, "POSITIVE": 1}
if (polarity =="NEG"):
    label2id = {"NON-NEGATIVE": 0, "NEGATIVE": 1}

# Process test data through pipeline
data = pipe(X_test.to_list())

# Convert the list of dictionaries into a pandas DataFrame
df = pd.DataFrame(data)

Downloading (…)cial_tokens_map.json:   0%|          | 0.00/280 [00:00<?, ?B/s]

In [35]:
df

      label     score
0       NaN  0.999542
1       NaN  0.999323
2       NaN  0.999571
3       NaN  0.999467
4       NaN  0.997156
...     ...       ...
4952    NaN  0.999221
4953    NaN  0.995341
4954    NaN  0.998199
4955    NaN  0.999531
4956    NaN  0.999541

[4957 rows x 2 columns]

In [30]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [label, score]
Index: []

In [34]:
df['label'].unique()

array([nan])

In [32]:
label2id

{'NON-NEGATIVE': 0, 'NEGATIVE': 1}

In [33]:
df['label'] = df['label'].map({'NON-POSITIVE': 0, 'POSITIVE': 1})